version: 2.1

docker:
  - image: circleci/android:api-27-alpha

orbs:
  android: circleci/android@0.2.0

jobs:
  build:
    executor: android/android

    steps:
      - checkout
      - run:
          command: ./gradlew build